<div class="container text-center">
  <h1 class="title-main"><%= @look.title %></h1>
  <h2 class="title-secondary">Build the Look:</h2>
  <%= simple_form_for @look do |f| %>
    <div class="form-group looks-scroller">
      <label class="control-label check_boxes optional">
      </label>
      <div class="category-choices scrolling-wrapper-flexbox">
        <% @look.user.clothes("top").each do |item| %>
          <input type="checkbox" class="d-none" value="<%= item.id %>" name="look[item_ids][]" id="item_id<%= item.id %>">
          <label for="item_id<%= item.id %>" class="category-choice item-img">
            <%= cl_image_tag item.photo.key, height: 200, width: 200, crop: :fit %>
          </label>
        <% end %>
      </div>
    </div>
    <div class="form-group looks-scroller">
      <label class="control-label check_boxes optional">
      </label>
      <div class="category-choices scrolling-wrapper-flexbox">
        <% @look.user.clothes("bottom").each do |item| %>
          <input type="checkbox" class="d-none" value="<%= item.id %>" name="look[item_ids][]" id="item_id<%= item.id %>">
          <label for="item_id<%= item.id %>" class="category-choice item-img">
            <%= cl_image_tag item.photo.key, height: 200, width: 200, crop: :fit %>
          </label>
        <% end %>
      </div>
    </div>
    <div class="form-group looks-scroller">
      <div class="category-title">
        <label class="control-label check_boxes optional">
        </label>
        <div class="category-choices scrolling-wrapper-flexbox">
          <% @look.user.clothes("shoes").each do |item| %>
            <input type="checkbox" class="d-none" value="<%= item.id %>" name="look[item_ids][]" id="item_id<%= item.id %>">
            <label for="item_id<%= item.id %>" class="category-choice item-img">
              <%= cl_image_tag item.photo.key, height: 200, width: 200, crop: :fit %>
            </label>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group looks-scroller">
      <label class="control-label check_boxes optional">
      </label>
      <div class="category-choices scrolling-wrapper-flexbox">
        <% @look.user.clothes("outerwear").each do |item| %>
          <input type="checkbox" class="d-none" value="<%= item.id %>" name="look[item_ids][]" id="item_id<%= item.id %>">
          <label for="item_id<%= item.id %>" class="category-choice item-img">
            <%= cl_image_tag item.photo.key, height: 200, width: 200, crop: :fit %>
          </label>
        <% end %>
      </div>
    </div>
    <div class="form-group looks-scroller">
      <label class="control-label check_boxes optional">
        <h3 class="title-gray">Accessory</h3>
      </label>
      <div class="category-choices scrolling-wrapper-flexbox">
        <% @look.user.clothes("accessory").each do |item| %>
          <input type="checkbox" class="d-none" value="<%= item.id %>" name="look[item_ids][]" id="item_id<%= item.id %>">
          <label for="item_id<%= item.id %>" class="category-choice item-img">
            <%= cl_image_tag item.photo.key, height: 200, width: 200, crop: :fit %>
          </label>
        <% end %>
      </div>
    </div>
    <p><%= f.object.errors.full_messages.join(", ") if f.object.errors.any? %></p>
    <%= f.submit "Done", class: "btn btn-red mb-3 mt-4" %>
  <% end %>
</div>
<%= content_for :after_js do %>
  <script>
    $(document).ready(function(){
    $(".category-choice").click(function(){
      $(this).toggleClass("active");
    });
    });
  </script>
<% end %>