<!-- if friend  -->
<% if current_user.friends.include?(user) %>
  <p>Already Friends</p>
  <%= form_for :user, url: user_remove_friend_path(user) do |f| %>
      <%= f.submit "bye", class: "btn" %>
  <% end %>

  <!-- elsif pending request -->
<% elsif current_user.pending_friends.include?(user) %>
  <p>Friendship Requested</p>
<% elsif current_user.requested_friends.include?(user) %>
  <%= form_for :user, url: user_accept_request_path(user) do |f| %>
      <%= f.submit "accept", class: "btn" %>
  <% end %>

  <%= form_for :user, url: user_decline_request_path(user) do |f| %>
      <%= f.submit "reject", class: "btn" %>
  <% end %>
<% elsif current_user == user %>
  <%= "you" %>
  <!-- create request -->
<% else %>
  <%= form_for :user, url: user_request_friendship_path(user) do |f| %>
      <%= f.submit "friend request", class: "btn" %>
  <% end %>
<% end %>
