<nav>
  <ul class="nav nav-pills" style="
    margin-bottom: 15px;" id="nav-pills" role="tablist">
    <li class="nav-item-friend">
      <a class="nav-link active" id="nav-home-tab" data-toggle="pill" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Friends</a>
    </li>
    <li class="nav-item-friend">
      <a class="nav-link" id="nav-profile-tab" data-toggle="pill" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Requests</a>
    </li>
    <li class="nav-item-friend">
      <a class="nav-link" id="nav-contact-tab" data-toggle="pill" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Requested</a>
    </li>
  </ul>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="row">
      <% if current_user.friends.length > 0  %>
        <% current_user.friends.each do |user| %>
<!-- --------------------------------------------------------------------- -->
          <div class="col-3">
            <%= link_to user_path(user) do %>
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, height: 250, width: 300, crop: :fill, class: "avatar-profile" %>
              <% else %>
                <%= image_tag 'blank_avatar.png', class: "avatar-profile"%>
              <% end %>
            <% end %>
          </div>
<!-- ---------------------------------------------------------------------------------- -->
          <div class="col-5 username">
            <%= user.username %>
          </div>
<!-- ---------------------------------------------------------- -->
          <div class="col-4">
            <%= form_for :user, url: user_remove_friend_path(user) do |f| %>
            <!-- temp btn will change color and name  -->
              <%= f.submit "Remove", class: "btn-remove-white" %>
            <% end %>
          </div>
<!-- ---------------------------------------------------------------------------- -->
        <br><br><br>
        <% end %>
      <% else %>
        <h2> No Friends to Show </h2>
      <!-- end tag for under row div end -->
      <% end %>
      <!-- close div for row class -->
    </div>
    <!-- close div for first one  -->
  </div>
  <!-- ------------------------------------------------------------------------------------ -->


  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="row">
      <% if current_user.requested_friends.length > 0  %>
        <% current_user.requested_friends.each do |user| %>
      <!--------------------------------------------------------------------- -->

          <div class="col-3">
            <%= link_to user_path(user) do %>
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, height: 250, width: 300, crop: :fill, class: "avatar-profile" %>
              <% else %>
                <%= image_tag 'blank_avatar.png', class: "avatar-profile"%>
              <% end %>
            <% end %>
            </div>
            <!-- ---------------------   -->
            <div class="col-3 username">
              <%= user.username %>
            </div>
            <!-- ---------------------- class name will be change-->
            <div class="col-6 d-flex justify-content-between">

              <%= form_for :user, url: user_accept_request_path(user) do |f| %>
                <%= f.submit "accept", class: "btn-gray-small mx-1" %>
              <% end %>


            <!-- --------------------------------- -->

              <%= form_for :user, url: user_decline_request_path(user) do |f| %>
                <%= f.submit "reject", class: "btn-gray-small mx-1" %>
              <% end %>
            </div>
            <!-- ----------------------------- -->

          <br>
          <br>
          <br>
        <% end %>
      <% else %>
        <h2> Add some friends! </h2>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="row">
        <% if current_user.pending_friends.length > 0  %>
          <% current_user.pending_friends.each do |user| %>
          <div class="col-12">
              <%= link_to user_path(user) do %>
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, height: 250, width: 300, crop: :fill, class: "avatar-profile" %>
              <% else %>
                <%= image_tag 'blank_avatar.png', class: "avatar-profile"%>
              <% end %>
              <% end %>
            <%= user.username %>
          </div>
          <br>
          <br>
          <br>
          <% end %>
        <% else %>
          <h2> No pending friend requests... </h2>
        <% end %>
    </div>
  </div>
</div>
</div>
