<!-- friends page search results -->

  <%= form_tag users_path, method: :get do %>
    <div class="line-up">
      <%= text_field_tag :query,
      params[:query],
      class: "form-control mb-1",
      placeholder: "Find a friend"
    %>
    <%= button_tag :submit do %>
        <i class="fas fa-search"></i>
    <% end %>
    </div>
  <% end %>
  <% if @users == nil %>
  <h1> find your friend</h1>
  <% else %>
  <% @users.reject{|u| u == current_user}.each do |user| %>
      <div class="friend-results" style="display: flex; align-items: center; justify-content: space-between;">
    <%= link_to user_path(user) do %>
    <% if user.photo.attached? %>
      <%= cl_image_tag user.photo.key, height: 250, width: 300, crop: :fill, class: "avatar-profile" %>
    <% else %>
          <%= image_tag 'blank_avatar.png', class: "avatar-profile" %>
    <% end %>
    <% end %>
        <div class="avatar-username" style="
    display: flex;
    align-items: flex-end;">
        <p> <%= user.username %> </p>
      </div>
      <%= render "friendship", user: user %>
      </div>
  <% end %>
  <% end %>
  <%= render "index_tab"%>

