 <div class = "setting-btn">
  <% if current_user.id == params[:id] %>
    <p><%= link_to "setting", root_path%></p>
  <% end %>
</div>

<div class = row >
  <div class="col-6">
  <%= render "users/avatar" %>
  </div>
  <!-- link to setting -->
 <!--  <div class="row"> -->
    <div class="col-6">
      <h1><%= @user.username %></h1>
        <div class = "btn btn-red my-2">
          <%= @user.items.size %>/ <%= @user.items_limit %>
        </div>
      <!-- </div> -->
     <!--  <div class="col-6"> -->
        <div class = "btn btn-red my-2">
        <!-- after adding merit -->
          <%=  "point" %>
        </div>
     <!--  </div> -->
    </div>
  </div>

  <div class = "btn btn-white-2 my-3">
  <!-- link to looks -->
  <%= link_to "create looks", root_path %>
  </div>
</div>

<%= render "users/tab" %>

<!-- protect from nonfriend users -->
<!-- <#% if current_user.friends.include?(@user) %>
<#% end %>
 -->
