<div class="bottom-navbar fixed-bottom navbar-expand-lg jus">
  <div class="icons">
    <!-- add links -->

    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to users_path do %>
      <i class="fas fa-user-friends"></i>
    <% end %>
    <%= link_to new_item_path do %>
      <i class="far fa-plus-square"></i>
    <% end %>
    <%= link_to items_path do %>
      <i class="fas fa-search"></i>
    <% end %>
    <!-- add notifications route -->
    <%= link_to items_path do %>
    <i class="fas fa-bell"></i>
    <% end %>
  </div>
</div>
