<div class="bottom-navbar fixed-bottom navbar-expand-lg jus">
  <div class="icons">
    <!-- add links -->

    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to users_path do %>
      <i class="fas fa-user-friends"></i>
    <% end %>
    <%= link_to new_item_path do %>
      <i class="far fa-plus-square"></i>
    <% end %>
    <%= link_to items_path do %>
      <i class="fas fa-search"></i>
    <% end %>
    <!-- add notifications route -->
    <% if current_user.nil? %>
    <%= link_to items_path do %>
    <i class="fas fa-bell"></i>
    <% end %>
    <% else %>
    <%= link_to  user_notification_path(current_user) do %>
    <i class="fas fa-bell">
    <%= Notification.unread_count(current_user) %>
    </i>
    <% end %>
    <% end %>
  </div>
</div>
