<div class="top-navbar navbar-expand-lg">
  <div class="top-links">
    <div class="nav-avatar">
    <!-- add paths to messages-->
      <% if current_user == nil %>
        <% link_to root_path do %>
          <%=  image_tag 'blank_avatar.png', class: "avatar-chat" %>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user) do %>
          <%= cl_image_tag current_user.photo.key, height: 250, width: 300, crop: :fill, class: "avatar-chat" %>
        <% end %>
      <% end %>
      <!-- <p class="nav-points">123pts</p> -->
    </div>
    <%= link_to "Clever Closet" %>
    <%= link_to do %>
      <i class="fas fa-envelope"></i>
    <% end %>
  </div>
</div>

