<!-- <div class="search">
  <input type="text" placeholder="search">
</div> -->
<!-- <div class="banner">
</div> -->
<div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="8000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="first-slide">
        <div class="container">
          <h1>Smaller Closet,<br>
            Bigger Impact.</h1>
          <p>Your actions go beyond your closet. Donatons and practicing mindful shopping reduces waste and your overall carbon footprint.</p>
          <div class="d-flex justify-content-center">
            <%= link_to new_item_path do %>
              <% current_page?(controller: "/items", action: "new") %>
              <a class="btn btn-red">Start Your Closet</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="second-slide">
        <div class="container">
          <h1>Your Donations <br>
            Go Further</h1>
          <p>We make it easy to close the loop. Send us your gently used clothes and we'll make sure your items find a new home.</p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-red" href="#">Donate Today</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="third-slide">
        <div class="container">
          <h1>Simplify Your Style With a Capsule Wardrobe</h1>
          <p>Add your favorite pieces to Your Closet and start building outfits with your friends.</p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-red" href="#">Create Looks</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div class="feed-container">
    <div class="text-center">
      <h3 class="feed-header">Your Feed</h3>
    </div>
    <% @looks.each do |look| %>
      <%= link_to user_path(look.user), class: "feed-username", style: "text-decoration:none;" do %>
        <%= cl_image_tag look.user.photo.key, height: 100, width: 100, crop: :fill, class: "avatar-feed"%>
        <%= look.user.username %>
      <% end %>
      <div class="feed-look-container">
        <div class="col-md-12">
          <div class="row justify-content-center">
            <div class="gal">
              <% look.items.each do |item| %>
                <%= cl_image_tag item.photo.key, width: 150, crop: :fill %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>