<div class="container">
  <h1>Donations</h1>
  <% @donations.each do |donation| %>
  <p><%= donation.pick_up_date. strftime('%A, %B %e, %Y') %></p>
  <p><%= donation.pick_up_date. strftime('%l:%M %p') %></p>
  <p><%= donation.item.name %></p>
  <p>
    <% if donation.picked_up? %>
        <%= "Status: Picked up" %>
      <% else %>
        <%= "Status: Pending"%>
    <% end %>
  </p>
  <% end %>
</div>
