<h1><%= @item.name %></h1>
<h3>Your Closet</h3>

<%= render 'items/show-card', item: @item %>

<p><%#= @item.color %></p>
<p><%= @item.category %></p>
<p><%= @item.size %></p>

<!-- edit button -->
<%= link_to root_path do %>  <!-- need to add path for edit -->
  <i class="fas fa-pencil-alt"></i>
<% end %>

<!-- delete button -->
<%= link_to root_path do %> <!-- need to add path for delete -->
  <i class="fas fa-times"></i>
<% end %>

<!-- donate button -->
<% if policy(@item).donate? %>
  

<%= link_to "Donate", new_item_donation_path(@item), class: "btn btn-red" %> <!-- need to add path for donate -->
<% end %>
