<h1><%= @item.name %></h1>
<h3><%= @item.user.username %>'s Closet</h3>

<%= render 'items/show-card', item: @item %>

 <p><%#= @item.color %></p>
<p><%= @item.category %></p>
<p><%= @item.size %></p>

<%= link_to "Borrow", root_path, class: "btn btn-red" %> <!-- need to figure out path to messaging -->
