<h1><%= item.name %></h1>
<h3><%= item.user.name %>'s Closet</h3>

<% if item.photo.attached? %>
  <%= cl_image_tag item.photo.key, height: 250, width: 300, crop: :fill %>
<% else %>
  <%= image_tag "$INSERTIMAGE.jpg"%>
<% end %>

<p><%= item.color %></p>
<p><%= item.category %></p>
<p><%= item.size %></p>

<!-- button -->
<%= link_to "Borrow", chat_path, class: "btn" %> <!-- need to figure out path to messaging -->
